{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% include "menu.html" %}

    <div class="container" style="margin-top:30px;">
        <div class="row">
            {% if last_information_by_device %}
                {% for information in last_information_by_device %}
                    {% include "device-info-detail-card.html" %}
                {% endfor %}
            {% endif %}
        {% include "add_device_form.html" %}
        </div>

    {% include "information_table.html" %}
    <div class="row">
        {% include "devices_table.html" %}
        </div>
    </div>

    {% include "footer.html" %}

{% endblock %}