{% if all_devices %}
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h4><strong>Basic Table</strong></h4>
              <table class="display">
              <thead>
                <tr>
                  <th>Identificador</th>
                  <th>Tipo</th>
                  <th>IP</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
              {% for device in all_devices %}
                <tr class="odd">
                  <td>{{ device.name }}</td>
                  <td>{{ device.get_type_display }}</td>
                  <td>{{ device.ip }}</td>
                  <td class="color-red">
                      <form method="POST" id="delete-device">
                          <input name="delete_device" value="{{ device.name }}" hidden>
                          <input type="submit" id="submit" name="submit" value="Eliminar">
                      </form>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
             </table>
             <br>
        </div>
    </div>
{% else %}
    <p class="color-white">Aún no hay dispositivos registrados. Por favor, registre un dispositivo.</p>
{% endif %}