{% if last_information %}
    <h4 class="color-white"><strong>Últimos datos registrados:</strong></h4>
    <table class="display" id="dt1">
        <thead>
          <tr>
            <th class="center">Fecha</th>
            <th class="center">Tipo</th>
            <th class="center">Dispositivo</th>
            <th class="center">IP</th>
            <th class="center">Temperatura</th>
            <th class="center">Humedad</th>
            <th class="center">LED</th>
            <th class="center">Sensor</th>
          </tr>
        </thead>
        <tbody>
            {% for information in last_information %}
                <tr class="odd gradeA">
                    <td>{{ information.created_at|default:"-" }}</td>
                    <td>{{ information.device.get_type_display|default:"-" }}</td>
                    <td>{{ information.device.name|default:"-" }}</td>
                    <td>{{ information.device.ip|default:"-" }}</td>
                    <td class="center">{{ information.temperature|default:"-" }}º C</td>
                    <td class="center">{{ information.humidity|default:"-" }}%</td>
                    <td class="center">
                        {% if information.led_status %}
                            ON
                        {% else %}
                            OFF
                        {% endif %}
                    </td>
                    <td class="center">
                        {% if information.pir_sensor_status %}
                            ON
                        {% else %}
                            OFF
                        {% endif %}
                    </td>
                  </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="color-white">Aún no hay información registrada. Por favor, compruebe que estén encendido los dispositivos.</p>
{% endif %}